*{

  padding: 0%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{

    display: flex;
    align-content: center;
    justify-content: center;
}
.head{
  display: flex;
  justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: transform 0.2s ease; 
}   
.card:hover{
    opacity: .25;
    cursor: pointer;
    transform: translateY(-5px);
}




.card img {
    width: 100%; 
    max-width: 200px;
    height: auto;
    object-fit: contain;
    background-color: #f6f6f6; 
    margin-bottom: 10px;
}

.card p {
    font-size: 1.2rem;
    margin-top: 5px;
}




.items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    padding: 20px;
}